<section class="grid mx-8 rounded overflow-hidden shadow-lg">
  <img class="w-full" src="{{ section.settings.image_src | img_url: '200x200'}}" />
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
    <p class="text-gray-700 text-base">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
    </p>
  </div>
 
</section>

{% schema %}
  {
    "name": "Content Cards",
    "tag": "section",
    "class": "section section-content-cards",
    "limit": 1,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Slideshow"
      }
    ],
    "max_blocks": 5,
    "blocks": [
      {
        "name": "Slide",
        "type": "slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Content Cards",
        "settings": {
          "title": "Content Cards"
        },
        "blocks": [
          {
            "type": "slide"
          }, {
            "type": "slide"
          }
        ]
      }
    ]
  }
{% endschema %}