<section class="container mx-auto px-4 md:px-12">
  <div class="flex flex-wrap -mx-1 lg:mx-4 relative">
    <div id="contentCard" class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:w-1/3 lg:w-1/4 {{ block.settings.card_bg_color }}">
      <img class="w-full" src="{{ section.settings.image_src | img_url: '200x200'}}" />
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
        <p class="text-gray-700 text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
        </p>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Content Cards",
    "tag": "section",
    "class": "section section-content-cards",
    "limit": 1,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Slideshow"
      }
    ],
    "max_blocks": 5,
    "blocks": [
      {
        "name": "Slide",
        "type": "slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Content Cards",
        "settings": {
          "title": "Content Cards"
        },
        "blocks": [
          {
            "type": "slide"
          }, {
            "type": "slide"
          }
        ]
      }
    ]
  }
{% endschema %}