.placeholder-img {
    height: 313px;
    background-color:rgb(255,255,255, 0.3);
}

.carousel-cell {
    margin-right: 10px;
    width: 100%;
    overflow: hidden;
}
.carousel-cell::after {
        content: "flickity";
        display: none;
      
}
.flickity-cell.is-selected {
    position: absolute;
    inset: 0;
  }

.flickity-width {
    max-width: 1300px;
}
.flickity-enabled:focus {
    outline: none;
    box-shadow: none;
}
a.add_to_cart:hover {
    cursor: pointer;
}

.flickity-prev-next-button .flickity-button-icon .arrow {
    color: red;
}