.placeholder-img {
    height: 313px;
    background-color:rgb(255,255,255, 0.3);
}

.carousel-cell {
    margin-right: 10px;
    width: 100%;
    overflow: hidden;
}
.carousel-cell::after {
        content: "flickity";
        display: none;
      
}
.flickity-cell.is-selected {
    position: absolute;
    inset: 0;
  }
/* .flickity-slider {
    width: 50% !important;
} */